/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/* line 3, ../../../sass/modules/blocklayered/blocklayered.scss */
#enabled_filters {
  margin: 0 0 10px 0;
  background: #eee;
  padding: 6px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 11px; }

/* line 11, ../../../sass/modules/blocklayered/blocklayered.scss */
#enabled_filters .layered_subtitle {
  font-weight: bold;
  font-size: 12px; }

/* line 15, ../../../sass/modules/blocklayered/blocklayered.scss */
#enabled_filters ul li {
  padding: 2px 0; }

/* line 16, ../../../sass/modules/blocklayered/blocklayered.scss */
#enabled_filters li a {
  right: right;
  /*display: inline-block;
  height: 12px;
  width: 12px;
  text-indent: -5000px;*/
  /*background: url(../../../img/icon/delete.gif) no-repeat 0 0 transparent;*/
  /*background: url(./delete.gif) no-repeat 0 0 transparent;*/
  cursor: pointer; }
  /* line 498, ../../../sass/mixins/_app.scss */
  .rtl #enabled_filters li a {
    left: right;
    right: auto; }

/* line 27, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left .radio, #layered_block_left .checkbox {
  display: inline;
  background: #26ca28; }

/* line 32, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left .hiddable a {
  font-size: 11px; }

/* line 36, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left .checkbox {
  border: solid 1px #e5e5e5; }

/* line 40, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left .layered_close {
  right: right;
  padding-right: 5px; }
  /* line 498, ../../../sass/mixins/_app.scss */
  .rtl #layered_block_left .layered_close {
    left: right;
    right: auto; }
  /* line 402, ../../../sass/mixins/_app.scss */
  .rtl #layered_block_left .layered_close {
    padding-left: 5px;
    padding-right: inherit; }

/* line 45, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left span.layered_close a,
#layered_block_left span.layered_close a {
  display: block;
  height: 13px;
  width: 13px;
  text-decoration: none;
  text-indent: -5000px;
  background: url(img/icon/less.gif) no-repeat 2px 2px; }

/* line 53, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left span.closed a {
  background: url(img/icon/more.gif) no-repeat 2px 2px; }

/* line 57, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left .layered_subtitle {
  display: inline-block;
  font-weight: bold;
  color: black; }

/* line 62, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left ul {
  clear: both;
  padding: 5px 0; }

/* line 66, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left ul li {
  padding: 2px 0; }

/* line 67, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left ul li label {
  cursor: pointer; }

/* line 70, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left ul {
  padding-left: 0; }
  /* line 402, ../../../sass/mixins/_app.scss */
  .rtl #layered_block_left ul {
    padding-right: 0;
    padding-left: inherit; }

/* line 73, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left ul li {
  list-style-type: none; }
  /* line 75, ../../../sass/modules/blocklayered/blocklayered.scss */
  #layered_block_left ul li div.checker {
    margin-right: 1px; }
    /* line 402, ../../../sass/mixins/_app.scss */
    .rtl #layered_block_left ul li div.checker {
      margin-left: 1px;
      margin-right: inherit; }
    /* line 77, ../../../sass/modules/blocklayered/blocklayered.scss */
    #layered_block_left ul li div.checker span {
      top: 1px; }

/* line 82, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left div > form > div > div {
  margin-top: 10px; }

/* line 85, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left #enabled_filters, #layered_url_filter_block {
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-top: 0px; }

/* line 91, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left #enabled_filters ul li {
  margin-left: 0;
  padding-left: 0; }
  /* line 402, ../../../sass/mixins/_app.scss */
  .rtl #layered_block_left #enabled_filters ul li {
    margin-right: 0;
    margin-left: inherit; }
  /* line 402, ../../../sass/mixins/_app.scss */
  .rtl #layered_block_left #enabled_filters ul li {
    padding-right: 0;
    padding-left: inherit; }

/* Style moved form the template to the css  */
/* line 99, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left #enabled_filters ul li:hover {
  background: inherit;
  color: inherit; }

/* line 106, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left ul li input.checkbox {
  vertical-align: middle;
  margin-left: 2px; }
  /* line 402, ../../../sass/mixins/_app.scss */
  .rtl #layered_block_left ul li input.checkbox {
    margin-right: 2px;
    margin-left: inherit; }

/* line 110, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left ul li .disabled {
  color: #666; }

/* line 113, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left .color-option {
  border: 1px solid #666666;
  height: 16px;
  margin-left: 0;
  padding: 0;
  width: 16px; }
  /* line 402, ../../../sass/mixins/_app.scss */
  .rtl #layered_block_left .color-option {
    margin-right: 0;
    margin-left: inherit; }

/* line 120, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left .color-option.disable {
  opacity: 0.5;
  filter: alpha(opacity=50); }

/* line 123, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_block_left .nomargin a {
  display: inline; }

/* line 126, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_form .select {
  width: 165px; }

/* line 129, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_form .color-option {
  margin-left: 0;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 1px solid #666;
  position: relative;
  top: 1px; }
  /* line 402, ../../../sass/mixins/_app.scss */
  .rtl #layered_form .color-option {
    margin-right: 0;
    margin-left: inherit; }

/* line 138, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_form .color-option.on {
  border: 1px solid red; }

/* line 141, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_form input[type=radio] {
  margin-left: 2px;
  vertical-align: middle; }
  /* line 402, ../../../sass/mixins/_app.scss */
  .rtl #layered_form input[type=radio] {
    margin-right: 2px;
    margin-left: inherit; }

/* line 145, ../../../sass/modules/blocklayered/blocklayered.scss */
.layered_price_range {
  margin-left: 7px; }
  /* line 402, ../../../sass/mixins/_app.scss */
  .rtl .layered_price_range {
    margin-right: 7px;
    margin-left: inherit; }

/* line 148, ../../../sass/modules/blocklayered/blocklayered.scss */
.layered_price_range_unit {
  margin-right: 7px; }
  /* line 402, ../../../sass/mixins/_app.scss */
  .rtl .layered_price_range_unit {
    margin-left: 7px;
    margin-right: inherit; }

/* line 151, ../../../sass/modules/blocklayered/blocklayered.scss */
.layered_slider_container {
  margin: 6px 0 6px 9px;
  width: 85%; }
  /* line 415, ../../../sass/mixins/_app.scss */
  .rtl .layered_slider_container {
    margin: 6px 9px 6px 0; }

/* line 155, ../../../sass/modules/blocklayered/blocklayered.scss */
.layered_slider {
  margin-top: 5px; }

/* line 158, ../../../sass/modules/blocklayered/blocklayered.scss */
.layered_input_range_min {
  width: 30px; }

/* line 161, ../../../sass/modules/blocklayered/blocklayered.scss */
.layered_input_range_max {
  width: 40px; }

/* line 166, ../../../sass/modules/blocklayered/blocklayered.scss */
.layered_list {
  display: block;
  cursor: pointer; }

/* line 170, ../../../sass/modules/blocklayered/blocklayered.scss */
.layered_list:hover {
  font-weight: bold; }

/* line 173, ../../../sass/modules/blocklayered/blocklayered.scss */
.layered_ajax_loader p {
  margin: 20px 0;
  text-align: center; }

/* line 177, ../../../sass/modules/blocklayered/blocklayered.scss */
.hide-action {
  text-align: right;
  display: block;
  cursor: pointer; }
  /* line 391, ../../../sass/mixins/_app.scss */
  .rtl .hide-action {
    text-align: left; }

/* line 182, ../../../sass/modules/blocklayered/blocklayered.scss */
.hide-action:hover {
  font-weight: bold; }

/* line 185, ../../../sass/modules/blocklayered/blocklayered.scss */
#layered_form div div ul {
  overflow-x: auto;
  margin-bottom: 0; }

/* line 189, ../../../sass/modules/blocklayered/blocklayered.scss */
.layered_filter {
  border-bottom: 1px solid #e5e5e5;
  display: inline-block;
  width: 100%; }
  /* line 193, ../../../sass/modules/blocklayered/blocklayered.scss */
  .layered_filter label {
    font-weight: normal; }
  /* line 196, ../../../sass/modules/blocklayered/blocklayered.scss */
  .layered_filter .layered_subtitle {
    font-size: 1.2 em; }
