/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
#languages-block-top a.current img {
  margin-top: -4px; }
#languages-block-top ul {
  left: 0; }
  .rtl #languages-block-top ul {
    right: 0;
    left: auto; }
  #languages-block-top ul li {
    line-height: 30px;
    font-size: 13px; }
    #languages-block-top ul li span {
      color: #6cabd5; }
      #languages-block-top ul li span img {
        margin-right: 5px;
        margin-top: -2px; }
        .rtl #languages-block-top ul li span img {
          margin-left: 5px;
          margin-right: inherit; }
    #languages-block-top ul li a span {
      font-weight: normal;
      color: #000000; }
