/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
.contactinfos ul li i {
  color: #ccc;
  font-size: 15px;
  margin-right: 8px; }
  .rtl .contactinfos ul li i {
    margin-left: 8px;
    margin-right: inherit; }
