@import "compass";
@import "theme_variables";

/*******************************************************************
					Cart Block Styles
********************************************************************/
 .unvisible{
 	display: none;
 }

.cart_block {
	.cart_block_list {
		.remove_link {
			position: absolute;
			@include rtl-right(10px);
			top: 9px;
		}
		.remove_link a,
		.ajax_cart_block_remove_link {
			background: url(img/delete.png) right center no-repeat;
			width: 12px;
			height: 12px;
			@include rtl-margin-right (-10px);
			@include rtl-float-right ();
		}
	}
	.cart-images {
		@include rtl-float-left ();
		@include rtl-margin-right (10px);
	}
	.cart-info {
		overflow: hidden;
		position: relative;
		@include rtl-padding-right (30px);
		.product-name {
			@include rtl-text-align-right();
			a {
				@include rtl-float-left();
				font-family: $minicart-module-list-font-family;
				font-size: $minicart-module-list-font-size;
				color: #000!important;
				font-weight: 100;
				font-size: 13px!important;
			}
		}
		.quantity-formated {
			text-transform: uppercase;
			font-size: $minicart-module-list-font-size - 4;
    		@include rtl-padding-right (5px);
    		.quantity{
    			font-size: $minicart-module-list-font-size;
    		}
		}
	}
	dt {
		font-weight: normal;
		overflow: hidden;
		position: relative;
	}
	dd {
		position: relative;
		margin-bottom: 10px;
		.cart_block_customizations{
			border-top: 1px dashed $base-border-color;
			li {
				padding: 10px 20px;
				
				.deleteCustomizableProduct {
					position: absolute;
					@include rtl-right (10px);	
				}
			}
		}
		
	}
	.cart_block_no_products {
		margin: 0;
		padding: 10px 20px;
	}
	.cart-prices {
		border-top: 1px solid $base-border-color;
		.cart-prices-line {
			overflow: hidden;
			padding: 5px 0;
			font-weight: 600;
			color: #000;
		}
	}
	.cart-buttons {
		overflow: hidden;
		margin: 20px  0 0;
	}
}
/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header {
	.cart_block {
		position: absolute;
		@include rtl-right (0);
		z-index: 2222;
		display: none;
		height: auto;
		background: $white;
		@media  (min-width: $screen-xs-max){
			width: 380px;
		}
		@media  (max-width: $screen-xs-max){
			width: 300px;
		}
		border: 1px solid $base-border-line;
		padding: 10px;
		
		.cart_block_list {
			.remove_link a,
			.ajax_cart_block_remove_link {
				color: $base-text-color;
				outline: none;
				text-decoration: none;
				&:hover {
					color: $link-hover-color;
				}	
			}
		}
		.price {
			font-family: $minicart-module-list-font-family;
			font-size: $minicart-module-list-font-size + 2;
		}
		dt {
			//background: url(#{$image-base-path}cart-shadow.png) repeat-x;
			&.first_item {
				background: none;
			}
		}
		.product-atributes {
			a {
				font-family: $minicart-module-list-font-family;
				font-size: $minicart-module-list-font-size - 2;
				font-style: italic;
				@include rtl-float-left();
			}
		}
		.cart-prices {
		}
		.cart-buttons {
		}
	}
	.block_content {
		margin-bottom: 0;
		padding: 0;
		line-height: 24px;
	}
	#button_order_cart{
		color: $black;
		text-transform: uppercase;	
		&:hover{
			color: $white;
		}
	}
	#cart{       
	    position: relative;
	    &:hover{
	    	 cursor: pointer;
	    }
	    
    h4{
        color: $cart-heading-color;
        font-weight: $topbar-font-weight;
        font-size: 11px;
        padding: 0;
        margin:0;
        display: inline-block;
        text-transform: uppercase;
    }
    #cart-total{ 
    	text-transform: uppercase;
    }
    
    .media{
    	 border: 1px solid rgba(255, 255, 255, 0.2);
        .pull-left{
            text-align: center;
            position: relative;
            margin-right: $padding-large-vertical;          
        }
    }
    .checkout {
        text-align: right;
        clear: both;
    }
    .empty {
        padding-top: 20px;
        text-align: center;
    }

	.mini-cart-total {
	    text-align: right;
	    td {
	        color: #000;
	        padding: 4px;
	    }
	    table {
	        border-collapse: collapse;
	     	@include inline-block();
	        margin-bottom: 5px;
	    }
	}
	.mini-cart-info {
	    .quantity {
	        text-align: right;
	    }
	    .name {
	        small {
	            color: #666;
	        }
	        font-size: $cart-product-font-size;
	        font-weight: bold;
	    }
	    td {
	        color: #000;
	        vertical-align: top;
	        padding: 6px;
	        border-bottom: 1px solid $border-color;
	    }
	    table {
	        border-collapse: collapse;
	        width: 100%;
	        margin-bottom: 5px;
	    }
	    .image {
	        width: 1px;
	        img {            
	            text-align: left;
	        }
	    }
	    .remove {
	        text-align: right;
	        img {
	            cursor: pointer;
	        }
	    }
	    td.total {
	        text-align: right;
	    }
	}
}
}

.header-top-v4{
	#cart .heading{
		.ajax_cart_quantity{
			top: -6px;
		    background: #fff;
		    position: absolute;
		    right: -7px;
		    height: 18px;
		    border-radius: 25px;
		    line-height: 15px;
		    padding: 3px;
		}
	}	
}

@media(max-width: $screen-sm-max){
	.header-v2 #cart .heading .title-cart{
		display: none;
	}
}

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
	display: none
}

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
	@include rtl-float-right ();
}

.cart_block table.vouchers {
	border-top: 1px solid $base-border-color;
	clear: both;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	tr td {
		padding: 2px;
		&.quantity{
			@include rtl-margin-right (5px);
			min-width: 18px
		}
		&.delete{
			width: 15px;
			background: url(img/delete.png) no-repeat scroll right center transparent;
		}
		i {
			display: none;
		}
	}

}
/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 98;
	@include opacity(.20);
}

* html .layer_cart_overlay {
	position: absolute;
	left: 0;
	@include rtl-margin-left(-160px);
	@include opacity(.20)
}

#layer_cart {
	background-color: $light-background;
	position: absolute;
	display: none;
	z-index: 9999;
	left: 0;
	margin-left: 18%!important;
    margin-right: 18%!important;
    width: 64%;
    overflow-x: hidden;
    height: 400px;
    @media(max-width: 1500px){
    	margin-left: 10%!important;
    	margin-right: 10%!important;
    	width: 80%;
    }
    @media(max-width: $screen-md-max){
    	margin-left: 8%!important;
    	margin-right: 8%!important;
    	width: 84%;
    }
	@include border-radius(4px); 
	line-height: 28px;
	.layer_cart_product {
		padding: 30px 30px 30px 30px;
		overflow: hidden;
		position: static;
		h2 {
			font: 400 23px/29px $font-family;
			color: #46a74e;
			margin-bottom: 22px;
			@include rtl-padding-right (100px);
			@media (max-width: $screen-xs-max) { // max 767px
				font-size: 18px;
				@include rtl-padding-right(0);
				line-height: normal;
			}
			i {
				font-size: 30px;
				line-height: 30px;
				@include rtl-float-left ();
				@include rtl-padding-right(8px);
				@media (max-width: $screen-xs-max) { // max 767px
					font-size: 22px;
					line-height: 22px;
				}
			}
		}
		.product-image-container {
			max-width: 178px;
			border: 1px solid $base-border-color;
			padding: 5px;
			@include rtl-float-left ();
			@include rtl-margin-right (30px);
			@media (max-width: $screen-xs) { // max 480px
				float: none;
				margin-right: 0;
				margin-bottom: 10px;	
			}
		}
		.layer_cart_product_info {
			padding: 38px 0 0 0;
			font-weight: 100;
			color: $black;
			font-size: 16px;
			#layer_cart_product_title {
				display: block;
				padding-bottom: 8px;
			}
			> div {
				padding-bottom: 7px;
				color: $black;
				strong {
					@include rtl-padding-right (3px);
				}
			}
		}
	}
	.layer_cart_cart {
		background: #fafafa;
		border-left: 1px solid $base-border-color;
		padding: 21px 30px 170px 30px;
		@include border-radius(0px 4px 4px 0px);
		position: relative;
		@media (min-width: $screen-lg) { // min 1200px
			min-height: 365px;
		}
		
		@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
			min-height: 360px;
		}

		@media (max-width: $screen-sm-max) { // max 991px
			border-left: none;
			border-top: 1px solid $base-border-color;
		}
		h2 {
			font: 400 23px/29px $font-family;
			color: $base-text-color;
			border-bottom: 1px solid $base-border-color;	
			padding-bottom: 13px;
			margin-bottom: 17px;
			@media (max-width: $screen-xs-max) { // max 767px
				font-size: 18px;
			}
		}
		.layer_cart_row {
			padding: 0 0 7px 0;
			font-weight: 100;
			font-size: 16px;
			color: black; 	
		}
		.button-container {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 0px 30px 20px 30px;
			.btn {
				margin-bottom: 10px;
				text-transform: uppercase;
			}
			.check-out{
				color: #fff!important;
			}
			span {
				&.continue {
					@include rtl-margin-right(5px);
					border: none;
				}
				span {
					
				}
				i {
					padding: 0 5px;
				}
			}
		}
	}
	.cross {
		position: absolute;
		@include rtl-right(7px);
		top: 8px;
		width: 25px;
		height: 25px;
		cursor: pointer;
		color: $base-text-color;
		z-index: 2;
		&:before {
			content: "\f057";
			display: block;
			font-family: $font-icon;
			font-size: 25px;
			line-height: 25px;
		}
		&:hover {
			color: $link-hover-color;	
		}
	}
	.continue {
		cursor: pointer;
	}
	p {
		padding: 0px;
	}
}
/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart {
	.crossseling {
		.crossseling-content {
			border-top: 1px solid $base-border-color;
			padding: 26px 30px 40px 30px;
			position: relative;
		}
		h2 {
			font: 400 23px/26px $font-family;
			color: $base-text-color;
			margin-bottom: 25px;
		}
		#blockcart_list {
			max-width: 773px;
			width: 84%;
			margin: 0 auto;
			overflow: hidden;
			ul {
				display: block;
				li {
					@include rtl-float-left ();
					width: 178px;
					margin: 0 0px 0 0;
					.product-image-container {
						border: 1px solid $base-border-color;
						text-align: center;
						padding: 5px;
						margin-bottom: 15px;
						
						img {
							width: 100%;
						}	
					}
					.product-name {
						padding-bottom: 5px;
						
						a {
							font-size: 15px;
							line-height: 20px;
						}
					}
				}
			}
			a.bx-prev,
			a.bx-next {
				display: block;
				font-family: $font-icon;
				font-size: 20px;
				line-height: 20px;
				width: 20px;
				height: 20px;
				color: $base-text-color;
				text-indent: -5000px;
				position: absolute;
				top: 45%;
				margin-top: -20px;
				&:after {
					display: block;
					text-indent: 0;
				}
				&:hover {
					color: #c0c0c0;
				}
				&.disabled {
					display: none;
				}
			}
			a.bx-prev {
				left: 5%;
				&:after {
					content: "\f137";
				}
			}
			a.bx-next {
				right: 5%;
				&:after {
					content: "\f138";
				}
			}
			.bx-controls {
				overflow: hidden;
			}
		}
	}
}