@import "compass";
@import "theme_variables";

/******************************************************************
					Sitemap Page Styles
*******************************************************************/
#sitemap {
	.sitemap_block {
		.page-subheading {
			margin-bottom: 16px;
		}
		li {
			line-height: 16px;
			padding-bottom: 11px;
			a {
				&:before {
					content: "\f105";
					display: inline-block;
					font-family: $font-icon;
					@include rtl-padding-right(10px);
				}
				&:hover {
					font-weight: bold;
				}
			}
		}
	}
}

#listpage_content {
	div.tree_top {
		@include rtl-padding(5px, 0, 0, 27px);
		a {
			&:before {
				content: "\f015";
				display: inline-block;
				font-family: $font-icon;
				font-size: 20px;
				color: $base-text-color;
			}
			&:hover {
				&:before {
					color: $link-hover-color;
				}
			}
		}

	}
	ul.tree {
		@include rtl-padding-left(24px);
		li {
			@include rtl-margin(0, 0, 0, 15px);
			@include rtl-padding(5px, 0, 0, 25px);
			@include rtl-border-left(1px solid $base-border-color);
			background: url(#{$image-theme-base-path}sitemap-horizontal.png) no-repeat left 15px transparent;
			a:hover {
				font-weight: bold;
			}
		}
		> li {
			@include rtl-margin(0, 0, 0, 11px);
		}
		li.last {
			border: medium none;
			background: url(#{$image-theme-base-path}sitemap-last.png) no-repeat 0px -4px transparent;
		}
	}
}