//Bootstrap
$font-size-base:          13px ;
$brand-primary: 		  #77BEB6;

// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";
// Image
// -------------------------
$image-theme-path:'../img/skins/fullwidth/';
$image-theme-base-path:  '../img/';
//Theme
$theme-color           : #77BEB6; 
$theme-color-default   : #77BEB6;
//Product
$product-name-font-size: $font-size-base + 5;
$product-name-hover-color: $theme-color;
//Topbar
$topbar-link-color: $theme-color;
$topbar-link-hover-color: #000;
//Menu 
$megamenu-link-hover-color: $theme-color;
$megamenu-sub-link-hover-color: $theme-color;
//Footer
$footer-link-hover-color: $theme-color;